@import url('https://fonts.googleapis.com/css2?family=Langar&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/*font-family: 'Poppins', sans-serif;  */

/* font-family: 'Langar', cursive; */
*{
    font-family: 'Poppins', sans-serif;
}
/* navbar styling */
#login{
   
  background-color: #B4E197;  
    padding: 3%;
    margin-top: 50px;
   
}
.login1 h3{
    mix-blend-mode: passthrough;
    background-color: #B4E197;
    height: 40px;
    width: 100px;
    font-weight: 700;
    border-radius: 30px;
    margin-top: 50px;
    margin-left: 400px;
}
.para{
    margin-left: 300px;
    margin-top: 5px;
}
.mx-auto .nav-link{
    margin-left: 50%;
    font-weight: 700;
    font-size: 3vh;
}
#safe{
    font-family: 'Langar', cursive; 
}
#sign{
    text-decoration: none;
    font-style: italic;
}
#ul li{
    padding-left: 70px;
}
#ul .nav-item .nav-link:hover{
    color: #B4E197;

}
#nav:hover{
    background-color: #B4E197;
}
#log:hover{
    background-color: white;
}

#bold{
    color: #6B419E;
    /* color: #9E4145; */
    font-style: normal;
}