{% extends 'base.html'%}

<!-- Content block -->
{% block content %}
<div class="container">
  <div class="row">
      <div class="col">
          <img src="/app/static/leafy3.jpg" alt="">
      </div>
      <div class="col">
          <p style="font-size: 2cm; font-weight: 900; margin-top: 20%">TAKE CHARGE START YOUR HEALING</p>

          <a class="nav-link" href="" style="font-size: 1cm; font-weight: 900; margin-top: 5%; margin-left: 18%; border: 1px solid lightgreen; width: 6cm; text-align: center; background-color: #B4E197; border-radius: 3cm; color: black;">Explore</a>
      </div>

      <!-- <a href="{{url_for('main.new_posts')}}"><button type="button" class="btn btn-success fw-bold">Create a story / share Your story</button></a> -->
    </div>
  </div>
</div>
  {% endblock%}